body {
    display: flex;
    justify-content: center;
}

.bed {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.3rem;
    transform: rotate(45deg);
    margin-top: 80px;
    width: 80%;
    height: 80%;
}
.bed button {
    width: 2rem;
    height: 2rem;
    border: 1px solid #aaa;
    text-align: center;
    position: relative;
}
.bed button span {
    position: absolute;
    top: 4px;
    left: 4px;
    bottom: 0;
    right: 0;
    transform: rotate(-45deg);
}
.controls {
    margin-top: 4rem;
}
.controls select {
    opacity: 0;
}
