#root {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:768px) {
    #root {
        justify-content: flex-start;
    }
    .bed {
        margin: 4rem 0;
    }
}

.bed {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    transform: rotate(45deg);
}

.bed button {
    width: 2.4rem;
    height: 2.4rem;
    border: 1px solid #aaa;
    display: flex;
    justify-content: center;
}

.bed button span {
    transform: rotate(-45deg);
}

.controls {
    margin-top: 4rem;
}

.controls select {
    opacity: 0;
}